{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Inspired by the concept of providing good, well-packaged food, we bring you The ABBY's Kitchen : Food Delivery System. The pandemic has been hard for everyone, we were no different and as everyone tried something new something useful, so did we. We are presenting to you our very own online food delivery system.</p>
            <p>Minimizing your work and maximizing our effort, this service will help the customer to glance through the menu, select their favorite food items, pay for them either online or on delivery and enjoy their delicious meals served to them at their home to their comfort by us.</p>
            <p>We promise to deliver fast and trusted service. Your order would be confirmed and delivered to you by our trusted staff. We have 15 branches across Mumbai serving our customers offline since years. With this new step towards an online system, we request your support to help us provide you with the best meals.</p>
        </div>
    </div>
</div>
{% endblock content %}
